.theme {
  --colors-lightGray: #eaeaea;

  --accents-1: #fafafa;
  --accents-2: #999999;
  --accents-3: #888888;
  --accents-4: #666666;

  --bg-color: #fff;
  --border-color: var(--colors-lightGray);
  --link-color: var(--colors-blue);

  --poll-bar-color: var(--colors-blue);
  --inline-code-color: var(--colors-purple);
}
